<div class="row events">
  <div class='col-md-6'>
    <% if @events.any? %>
    <div class="panel panel-success">
      <div class="panel-heading">My Events <span class="pull-right add-event"><%= link_to "Add an event", new_user_event_path(current_user), class: "btn btn-primary" %></span></div>
      <ul class="list-group">
      <% @events.each do |event| %>
          <li class="list-group-item"><%=link_to event.title, user_event_path(current_user, event) %></li>
        <% end %>
      </ul>
    </div>
    <% else %>
    <p>
      No events yet.
    </p>
    <% end %>
  </div>

  <div class="col-md-6">
    <% if @attending.any? %>
    <div class="panel panel-success">
      <div class="panel-heading">Events I'm going to</div>
        <ul class="list-group">
          <% @attending.each do |event| %>
            <li class="list-group-item"><%=link_to event.title, user_event_path(event.user, event) %></li>
          <% end %>
        </ul>
    <% end %>
  </div>
</div>
