<h1>User Events Page</h1>

<h2>My Events</h2>

<% if @events.any? %>
<ul>
  <% @events.each do |event| %>
      <li> <%=link_to event.title, user_event_path(current_user, event) %> </li>
    <% end %>
</ul>

<% else %>
<p>
  No events yet.
</p>

<% end %>

<h2>Events I'm going to</h2>
<% if @attending.any? %>
  <ul>
    <% @attending.each do |event| %>
      <li> <%=link_to event.title, user_event_path(event.user, event) %> </li>
    <% end %>
  </ul>

<% end %>
