<div class="row events">
  <div class='col-md-6'>
    <div class="panel panel-success">
      <div class="panel-heading">My Events <span class="pull-right add-event"><%= link_to "Add an event", new_user_event_path(current_user), class: "btn btn-primary" %></span></div>
      <ul class="list-group">
        <% if @events.any? %>
          <% @events.each do |event| %>
            <li class="list-group-item"><%=link_to event.title, user_event_path(current_user, event) %></li>
          <% end %>
        <% else %>
          <li class="list-group-item">I don't have any events planned yet!</li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="col-md-6">
    <div class="panel panel-success">
      <div class="panel-heading">Events I'm going to</div>
        <ul class="list-group">
        <% if @attending.any? %>
          <% @attending.each do |event| %>
            <li class="list-group-item"><%=link_to event.title, user_event_path(event.user, event) %></li>
          <% end %>
        <% else %>
          <li class="list-group-item">I'm not invited to any events yet!</li>
        </ul>
    <% end %>
  </div>
</div>
