<div class="well about-well">
  <h1>About RSVP</h1>

  <h3>Inspiration</h3>
  <p>One of our team members, Shannon, told us about her personal experiences and pain with family gatherings. She told us about her father and a manila folder he would carry and constantly consult for family arrivals and lodging locations. While folder-solution for her father was successful, it was a delicate construct that was only decipherable by him alone. With our team, we discussed an event manager that could put this information into one place that would be more user-friendly.</p>

  <h3>What it does</h3>
  <p>Users can come at RSVP from two directions. The first is as an event manager. A user can create a new event, invite guests, and list the details of the event. The second way for a user to interact is as a guest. A guest is invited to an event via email (like a slack invitation) where they can log in and view the event. Guests can review lodging details for each guest and can even find lodging deals displayed through the site via Expedia's Hotel API.</p>
</div>
