<h1>Sign up for RSVP</h1>

<p>Hello <%= @name %>!</p>

<p> <%= @event.user.first_name %> has invited you to <%= @event.title %>! Check out the event details at RSVP. See the guest list and plan your travels around your friends plans.

</p>
<p><%= link_to "Sign up for RSVP", new_user_registration_path(:event => @event.id)  %> and start planning!</p>

<p>
  <a href="http://rsvp-list.herokuapp.com/users/sign_in?#{@event.id}"> Sign Up for RSVP</a>
</p>
