@import "bootstrap-sprockets";
@import "bootstrap";
@import 'events';
@import "nav";
@import "home";

@font-face {
    font-family: gravity;
    src: url(/assets/Gravity-Regular.otf) format("truetype");
}

@font-face {
    font-family: stackyard;
    src: url(/assets/stackyard.ttf) format("truetype");
}

@font-face {
    font-family: heckyeah;
    src: url(/assets/black.ttf) format("truetype");
}

.main-backdrop {
  font-family: gravity;
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
  height: 900px;
  background-attachment: fixed;
}

.navbar-brand {
  font-family: stackyard;
  font-size: 4em;
}

.navbar {
  margin-bottom: 0px;
  border: 0px;
  background-color: #d9d9d9;
  border-radius: 0px;
}

#about {
  background-color: #e68a00;
}

.about-well {
  margin-top: 50px;
}


.login-middle a {
  text-decoration: none;
  color: white;
  font-size: 40%;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#map {
  height: 570px;
}


.panel-heading {
  font-size: 2.5em;
}

.panel li > a {
  font-size: 1.5em;
  color: gray;
  text-decoration: none;
}

.panel a:hover {
  color: #4d4d4d;
  text-decoration: none;
  -o-transition:.5s;
   -ms-transition:.5s;
   -moz-transition:.5s;
   -webkit-transition:.5s;
   transition:.5s;
}

.events {
  margin-top: 50px;
}

.event-description {
  font-size: 1.2em;
}

.description-header {
  font-size: 1.5em;
}

.event-details {
  font-size: 1.5em;
  line-height: 180%;
  list-style: none;
}

#location-list {
  display: none;
}

#hide-locations {
  display: none;
}

.guest-list {
  max-height: 400px;
  overflow-y:scroll;
}

.table-location-name {
  margin-top: 30px;
  font-size: 150%;
}

.locations-right-table {
  margin-top: 30px;
}

.add-event {
  font-size: .5em;
  margin-top: 10px;
}

#add-button {
  font-size: 1em !important;
}
