@import "bootstrap-sprockets";
@import "bootstrap";
@import 'events';

@font-face {
    font-family: gravity;
    src: url(/assets/Gravity-Regular.otf) format("truetype");
}

@font-face {
    font-family: stackyard;
    src: url(/assets/stackyard.ttf) format("truetype");
}

@font-face {
    font-family: heckyeah;
    src: url(/assets/black.ttf) format("truetype");
}

body {
  font-family: gravity;
  background-image: url('swing.jpeg');
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
  height: 900px;
  background-attachment: fixed;
  color: gray;
}

.navbar-brand {
  font-family: stackyard;
  font-size: 4em;
}

.white {
  color: white;
}

.navbar {
  margin-bottom: 0px;
  border: 0px;
  background-color: #d9d9d9;
  border-radius: 0px;
}

#about {
  background-color: #e68a00;
}

.about-well {
  margin-top: 50px;
}

#sign-up a:hover {
  color: #black;
  -o-transition:.5s;
   -ms-transition:.5s;
   -moz-transition:.5s;
   -webkit-transition:.5s;
   transition:.5s;
}

.landing-buttons {
  font-family: heckyeah;
  color: white;
  position: absolute;
  left: 27%;
  top: 40%;
  display: inline-block;
  font-size: 300%;
  box-shadow: 5px 5px 5px #404040;
}

.tag-line {
  position: absolute;
  right: 300px;
  bottom: 20%;
  font-size: 3em
}

.sign-up-landing a {
  text-decoration: none;
  color: #d9d9d9;
  padding: 10px 30px;
  background-color: #ff9933;
}

.sign-up-landing a:hover {
  background-color: #cc7a00;
  -o-transition:.5s;
   -ms-transition:.5s;
   -moz-transition:.5s;
   -webkit-transition:.5s;
   transition:.5s;
}

.login-middle a {
  text-decoration: none;
  color: white;
  font-size: 40%;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#map {
  height: 400px;
}

.landing-page {
  background-image:
    linear-gradient(
    rgba(0, 0, 0, 0.25),
    rgba(0, 0, 0, 0.25)
    ),
    url('stock.jpg');
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
  height: 900px;
}

.panel-heading {
  font-size: 2.5em;
}

.panel li > a {
  font-size: 1.5em;
  color: gray;
  text-decoration: none;
}

.panel a:hover {
  color: #4d4d4d;
  text-decoration: none;
  -o-transition:.5s;
   -ms-transition:.5s;
   -moz-transition:.5s;
   -webkit-transition:.5s;
   transition:.5s;
}

.events {
  margin-top: 50px;
}

.event-description {
  font-size: 1.2em;
}

.description-header {
  font-size: 1.5em;
}

.event-details {
  font-size: 1.5em;
  line-height: 180%;
  list-style: none;
}

.add-event {
  font-size: .5em;
  margin-top: 10px;
}

#add-button {
  font-size: 1em !important;
}
