.nav-bar,
.landing-tabs {
  display: flex;
  flex-direction: column;
}

.nav-bar {
  background-color:#FFF;
  border: 1px solid #ddd;
}

.landing-tabs {
  list-style:none;
}

.landing-tabs li {
  margin-right: 5px;
}

.logo {
  font-family: stackyard;
  font-size:4em;
  align-self:center;
  margin-left:50px;
  color: #021B28;
}

.logo:hover, :focus, :active, :visited {
  text-decoration:none;
}

.landing-tabs a {
  display:block;
  font-size:1.125em;
  font-weight: 300;
  text-align: center;
  padding: .4em;
  border-bottom: 1px solid #ebecec;
  color: #021B28;
}

.landing-tabs a:hover {
  color: #0b0b0b;
  border-bottom-color: #52;
}

button.btn.btn-custom a {
  padding: 0;
  color: white;
  border: none;
}

button.btn.btn-custom {
  background-color:#037362;
}

@media (min-width: 769px) {
  .nav-bar{
    flex-direction: row;
    justify-content: space-between;
    height:60px;
  }
  .logo {
    font-size:5.5em;
  }

  .landing-tabs{
    flex-direction: row;
    margin-top: 15px;
    margin-right: 20px;
  }
  .landing-tabs a {
    border-bottom-color:transparent;
  }
}
